.body .Report-body {
    
   background-color: #fff;
   border: 1px solid #ddd;
   height: 500px;
    
}


.body .Report-body {
    margin: 20px 9px 0px 0px;
    background-color: #fff;
    padding: 10px 5px 0px 0px;
    height: 600px;
    border-radius: 6px;
    border-style: dotted;
}


.body .Report-body .Research-input {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px
}
